apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      serviceAccountName: app-sa
      containers:
      - name: app
        image: REPLACE_IMAGE
        ports:
        - containerPort: 3000
        env:
        - name: BUCKET_NAME
          value: "unleash-exercise-bucket-12345"
