name: CI Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push
      run: |
        IMAGE_URI="$(aws ecr describe-repositories --repository-names unleash-exercise-repo --query 'repositories[0].repositoryUri' --output text):latest"
        docker build -t $IMAGE_URI .
        docker push $IMAGE_URI
        echo "Pushed: $IMAGE_URI"