name: Deploy Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'terraform/**'

jobs:
  deploy Infras using Terraform:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Apply
      working-directory: terraform
      run: |
        terraform init
        terraform apply -auto-approve
